.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 105px;
}
.item {
  list-style: none;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
