.footer {
  width: 94.5%;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.aboutUs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.about {
  width: 100%;
  display: flex;
  gap: 40px;
}
.contactOne {
  background-color: var(--color-background-gray);
  border-radius: var(--border-radius);
  padding: 32px;
  max-width: 780px;
  width: 100%;
}
.contactTwo {
  background-color: var(--color-background-gray);
  border-radius: var(--border-radius);
  padding: 32px;
  max-width: 548px;
  width: 100%;
}
.par {
  color: var(--text-color-secondary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight);
  margin-bottom: 16px;
}

.socialIcon {
  display: flex;
  gap: 18px;
}
@media all and (max-width: 500px) { 
  .about {
    flex-direction: column;
    gap: 20px;
  }
  .contactOne, .contactTwo {
    padding: 16px;
  }

}
