.form {
  max-width: 548px;
  width: 100%;
  height: 582px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--color-background-gray);
  border-radius: var(--border-radius);
}
.headerForm {
  display: flex;
  flex-direction: column;
}
.header {
  margin-bottom: 24px;
}
.orderText {
  color: var(--text-color-secondary);
  font-weight: 500;
}
.totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}
.inputField {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.input {
  padding: 16px 32px;
  border: 1px solid white;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-base);
  font-weight: 500;
}
.input::placeholder {
  color: var(rgb(139, 139, 139));
}
