.cost {
  display: flex;
  gap: 16px;
}
.price {
  font-size: var(--font-size-h4);
  font-weight: 600;
}
.sale {
  align-self: flex-end;
  padding-bottom: 8px;
  color: var(--text-color-secondary);
  text-decoration: line-through;
    font-size: var(--font-size-base);
  font-weight: 500;
}

@media all and (max-width: 500px) {
  .sale {
    font-size: 16px;
  }
  .price {
    font-size: 25px;
  }
  
}