.header {
  padding: 30px 0;
  width: 94.5%;
  margin-bottom: 40px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
  align-items: center;
  gap: 35px;
}
.link {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight);
}
.activeLink {
  color: var(--primary-color);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight);
}
.cart {
  align-self: center;
  position: relative;
}
.countProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
}
.block {
  display: none;
}
