.header {
    padding: 30px 0;
    width: 94.5%;
   
}
.nav {
    display: flex;
    justify-content: space-between;
}
.links {
    display: flex;
    align-items: center;
    gap: 35px;
}
.activeLink {
    color: rgb(20, 20, 244);
    font-size: 20px;
}